<h1>New author</h1>


<%= form_for(@author) do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</div>

 <%= f.submit %>

<% end %>