<div class="newform">
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

<div class="field">
	<%= fields_for "author" do |f| %>
		<%= f.label :author %><br />
		<%= f.autocomplete_field :name, autocomplete_author_name_items_path %>
	<% end -%>
</div>

<div class="field">
<%= fields_for "category" do |f| %>
<%= f.label :category %><br />
<%= f.autocomplete_field :name, autocomplete_category_name_items_path %>
<% end %>
</div>

<div class="field">
<%= fields_for "source" do |f| %>
	<%= f.label :source %><br />
	<%= f.autocomplete_field :name, autocomplete_source_name_items_path %>
<% end %>
</div>
  <div class="field">
<%= fields_for "item" do |f| %>
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt %>
<% end %>
  </div>
  <div class="field">
<%= fields_for "item" do |f| %>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
<% end %>
  </div>
  <div class="field">
<%= fields_for "item" do |f| %>
    <%= f.label :published_at %><br />
    <%= f.date_select :published_at %>
<% end %>
  </div>

  <div class="field">
	<%= fields_for :item_cache do |f| %>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	<% end %>
  </div>
  
<div class="actions">
	<%= fields_for "item" do |f| %>
    <%= f.submit %>
<% end %>
  </div>
<% end %>


</div>
