

	<div class="one-third column readinglist">
		<% @items.each do |item| %>
		
			<h3><%= link_to item.title, item_path(item) %></h3>
			<p><%= item.excerpt %></p>
			<h6>&mdash;<%= link_to item.author.name, author_path(item.author) %> en <%= link_to item.source.name, source_path(item.source) %></h6>
		
		<% end %>
	
	
	</div>

	<div class="two-thirds column">

		
	<% @featured.each_with_index { |featured, index| %>
		<% if index==0 %>
			<div class="feature">
		<% elsif index < 2 %>
			<div class="subject">
		<% else %>
			<div class="extendedlist">
		<% end %>
				<h1><%= link_to featured.title, item_path(featured) %></h1>
				<p><%= featured.excerpt %></p>
				<h5>&mdash;<%= link_to featured.author.name, author_path(featured.author) %> en <%= link_to featured.source.name, source_path(featured.source) %></h5>
			</div>
	<% } %>

	</div>
