<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
  <%= stylesheet_link_tag :all %>

	<%= yield :head %>
  <%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "autocomplete-rails.js", "jquery_ujs.js", "application" %>

	<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
