<!DOCTYPE html>
<html>
<head>
  <title>La LIBRE - <%= content_for?(:title) ? content_for(:title) : "Lo que leer" %></title>
  <meta name="description" content="">
	<meta name="author" content="">
  
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "autocomplete-rails.js", "jquery_ujs.js", "application" %>

  <%= csrf_meta_tag %>

	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
<link href='http://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<%= yield :head %>

</head>
<body>

	<div class="container">	
		<div class="sixteen columns header">

			<div class="ten columns alpha logo">
				<a href="/"><img src="/images/la.png" /><img src="/images/libre.png" /></a>
			</div>

			<div class="six columns menu omega">
				<% if current_user %>
        Hola <strong><%= current_user.username %></strong>, <%= link_to "Salir", logout_path %>
				<% else %>
					  Ingresa con: 
						<% ["twitter", "facebook"].each do |provider| %>
				    		<%= link_to provider, "/auth/#{provider}" %>
				  		<% end %>
				<% end %>
				
			</div>
			<!--
			<p><%= flash[:notice] %></p>
			<p><%= flash[:alert] %></p>
    -->
		</div>
	
		<div class="sixteen columns nav">
      
      <div class="twelve columns alpha">&nbsp;
        <!--<div id="navcontainer">
            <ul id="navlist">
              <li><a href="/categories/5">Negocios</a></li>
              <li><a href="/categories/1">Deportes</a></li>
              <li><a href="/categories/2">Ciencias</a></li>
              <li><a href="/categories/3">Politica</a></li>
              <li><a href="/categories/4">Arte</a></li>
            </ul>
        </div> -->
      </div>
      
      <div class="four columns menu omega">
          <a href="/submit">Sugiere un texto</a>
      </div>
      
		</div>

<div class="sixteen columns">
	<% unless flash[:notice].blank? %>
		<p class="notice">&nbsp; <%= flash[:notice] %></p>
	<% end %>
	<% unless flash[:alert].blank? %>
		<p class="alert">&nbsp;<%= flash[:alert] %></p>
	<% end %>
</div>
  
<%= yield %>




<div class="sixteen columns nav footer">
	<p><a href="/">lalibre.co</a> / en twitter: <a href="http://twitter.com/lalibrelibre">@lalibrelibre</a> / email: lalibre@blogactivo.com</p>
</div>	

	</div><!-- container -->

</body>
</html>

