<!DOCTYPE html>
<html>
<head>
  <title>LaLIBRE - Lo que leer</title>
  <meta name="description" content="">
	<meta name="author" content="">
  
  <%= stylesheet_link_tag :all %>

	<%= yield :head %>
  <%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js", "autocomplete-rails.js", "jquery_ujs.js", "application" %>

  <%= csrf_meta_tag %>
</head>
<body>

<p><%= flash[:notice] %></p>
<p><%= flash[:alert] %></p>

<% if current_user %>
  Logged in as <%= current_user.username %>, <%= link_to "Log Out", logout_path %>
  <% else %>
<%= link_to "Log In", new_user_session_url %>
  <% end %>
  
<%= yield %>

</body>
</html>
